name: Formula tests

on:
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  tap_syntax:
    # if: github.repository == 'Homebrew/homebrew-core'
    runs-on: ubuntu-latest
    outputs:
      testing_formulae: ${{ steps.formulae-detect.outputs.testing_formulae }}
      added_formulae: ${{ steps.formulae-detect.outputs.added_formulae }}
      deleted_formulae: ${{ steps.formulae-detect.outputs.deleted_formulae }}
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      # - run: brew test-bot --only-tap-syntax 

      - run: brew test-bot --only-formulae-detect
        if: github.event_name == 'pull_request'
        id: formulae-detect

  build:
    strategy:
      matrix:
        include:
          - runner: 'ubuntu-latest'
          - runner: 'macos-11'
          - runner: 'ubuntu-18.04'
          - runner: 'macos-latest'
  
    runs-on: ${{matrix.runner}}
    needs: tap_syntax
    env:
      testing_formulae: $(echo ${{ needs.tap_syntax.outputs.testing_formulae }} | cut -d "/" -f 3)
      added_formulae: $(echo ${{ needs.tap_syntax.outputs.added_formulae }} | cut -d "/" -f 3)
      deleted_formulae: $(echo ${{ needs.tap_syntax.outputs.deleted_formulae }} | cut -d "/" -f 3)
    steps:  
      - name: run
        run: | 
          brew test-bot --only-cleanup-before
          brew test-bot --only-setup
          brew install litani
          brew test litani
      # - name: Set environment variables
      #   if: runner.os == 'macOS'
      #   run: |
      #     echo 'PATH=/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin' >> $GITHUB_ENV
      #     # TODO: remove the line below once set in the runner .env file
      #     echo 'GITHUB_ACTIONS_HOMEBREW_SELF_HOSTED=1' >> $GITHUB_ENV
      
      # - run: brew test-bot --only-cleanup-before

      # - run: brew test-bot --only-setup
      
      # - name: Run brew test-bot 
      #   id: brew-test-bot-formulae
      #   run: |
      #     mkdir bottles
      #     cd bottles
      #     brew test-bot --only-formulae --junit --only-json-tab --skip-dependents --testing-formulae=${{ env.testing_formulae }} --added-formulae=${{ env.added_formulae }} --deleted-formulae=${{ env.deleted_formulae }}
